@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap");

.container {
  margin: 0;
  background-color: aqua;
  width: 60%;
  padding-bottom: 30px;
  margin-top: 60px;
  border-radius: 10px;
}
.overall {
  text-align: center;
  display: flex;
  justify-content: center;
}
.back_btn {
  font-family: "Poppins", sans-serif;
}
.greeting {
  margin-top: 20px;
  text-align: center;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
}
.signHeader {
  text-align: center;
  margin-top: 100px;
  font-family: "Poppins", sans-serif;
}
.email_input {
  background-color: rgba(100, 20, 20, 0);
  width: 300px;
  height: 40px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 1px solid black;
}
.back {
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
  border-left: 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-family: "Poppins", sans-serif;
}
.email {
  margin-top: 70px;
  text-align: center;
}
.password {
  margin-top: 50px;
  text-align: center;
}

.password_input {
  background-color: rgba(100, 20, 20, 0);
  width: 300px;
  height: 40px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 1px solid black;
}
.password_input:focus {
  outline: 0px;
}
.signIn {
  margin-top: 30px;
  border: 0px;
  padding: 10px 30px;
  border-radius: 3px;
}
.signIn:hover {
  background-color: beige;
  cursor: pointer;
}
.email_input:focus {
  outline: 0px;
}
