@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100&family=Poppins:wght@100;200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100&family=Poppins:wght@100;200&display=swap");
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  padding: 0;
  grid-gap: 10px;
}
.column1 {
}
.column2 {
}

.overall {
  padding: 50px;
}
.image {
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("./51RFfemMaoL._AC_SY695_.jpg");
}
.productName {
  margin-top: 10px;
  text-align: left;
  font-size: 20px;
}
.price {
  text-align: left;
  color: black;
}
.visit {
  width: 30%;
  text-align: left;
  background-color: green;
  color: white;
}
.about {
  margin-top: 70px;
  text-align: left;
}
.itemDescription {
  width: 80%;
  text-align: justify;
  margin-bottom: 30px;
  color: black;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
}
